<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yan_wm.myalbum.service.provider.backstage.mapper.SysRoleMapper">
  <resultMap id="BaseResultMap" type="cn.yan_wm.myalbum.commons.domainExtend.backstage.SysRoleExtend">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="lower_limit" jdbcType="INTEGER" property="lowerLimit" />
    <result column="upper_limit" jdbcType="INTEGER" property="upperLimit" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="update_by" jdbcType="VARBINARY" property="updateBy" />
    <association property="vipPermission" fetchType="eager" column="id" select="cn.yan_wm.myalbum.service.provider.backstage.mapper.TbVipPermissionMapper.findById"/>
  </resultMap>

  <resultMap id="BaseResultMap1" type="cn.yan_wm.myalbum.commons.domainExtend.backstage.SysRoleExtend">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="lower_limit" jdbcType="INTEGER" property="lowerLimit" />
    <result column="upper_limit" jdbcType="INTEGER" property="upperLimit" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="update_by" jdbcType="VARBINARY" property="updateBy" />
    <association property="vipPermission" fetchType="eager" column="id" select="cn.yan_wm.myalbum.service.provider.backstage.mapper.TbVipPermissionMapper.findById"/>
    <collection property="permissions" fetchType="eager" column="id" select="cn.yan_wm.myalbum.service.provider.backstage.mapper.SysPermissionMapper.findByRoleId"></collection>
  </resultMap>

  <insert id="add">
    INSERT INTO sys_role(role_name,name,lower_limit,upper_limit,create_by)
    VALUE (#{roleName},#{name},#{lowerLimit},#{upperLimit},#{createBy})
  </insert>

  <delete id="deleteById">
    DELETE FROM sys_role
    WHERE id = #{id}
  </delete>

  <update id="update">
    UPDATE sys_role
    <set>
      <if test="roleName != null and roleName !='' ">
        role_name = #{roleName},
      </if>
      <if test="name != null and name !='' ">
        name = #{name},
      </if>
      <if test="lowerLimit != null and lowerLimit !='' ">
        lower_limit = #{lowerLimit},
      </if>
      <if test="upperLimit != null and upperLimit !='' ">
        upper_limit = #{upperLimit},
      </if>
      <if test="status != null and status !='' ">
        status = #{status},
      </if>
      <if test="updateBy != null and updateBy !='' ">
        update_by = #{updateBy},
      </if>
    </set>
    WHERE
        id = #{id}
  </update>

  <select id="findByUserId" resultMap="BaseResultMap1">
    SELECT sys_role.id,sys_role.role_name,sys_role.name,sys_role.lower_limit,
    sys_role.upper_limit,sys_role.status
     FROM sys_role,sys_user_role
    WHERE
        sys_user_role.role_id = sys_role.id and
        sys_user_role.user_id = #{id}
  </select>

  <select id="findByAdminId" resultMap="BaseResultMap1">
    SELECT sys_role.id,sys_role.role_name,sys_role.name,sys_role.lower_limit,
    sys_role.upper_limit,sys_role.status
     FROM sys_role,sys_admin_role
    WHERE
        sys_admin_role.role_id = sys_role.id and
        sys_admin_role.admin_id = #{id}
  </select>

  <select id="findById" resultMap="BaseResultMap">
    SELECT * FROM sys_role WHERE id = #{id}
  </select>

  <select id="findAll" resultMap="BaseResultMap">
    SELECT * FROM sys_role
  </select>

  <resultMap id="RoleMap" type="cn.yan_wm.myalbum.commons.domain.SysRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <select id="findVipIds" resultMap="RoleMap">
    SELECT id,name from sys_role
    where level = 0
  </select>


  <select id="getTotal" resultType="Integer" >
    select COUNT(*) from sys_user_role
  </select>

  <select id="getVipNumByRoleId" resultType="Integer">
    select COUNT(*) from sys_user_role
    where role_id = #{roleId}
  </select>
</mapper>