<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yan_wm.myalbum.service.provider.backstage.mapper.SysUserExtendMapper">
  <resultMap id="BaseResultMap" type="cn.yan_wm.myalbum.commons.domainExtend.backstage.SysUserExtend">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <collection property="roleExtends" fetchType="eager" column="id" select="cn.yan_wm.myalbum.service.provider.backstage.mapper.SysRoleExtendMapper.findByUserId"></collection>
  </resultMap>

  <select id="findbyUsername" resultMap="BaseResultMap">
    SELECT * FROM sys_user
    WHERE username = #{username}
  </select>

  <select id="findbyId" resultMap="BaseResultMap">
    SELECT * FROM sys_user
    WHERE id = #{id}
  </select>

  <select id="findAll" resultMap="BaseResultMap">
    SELECT * FROM sys_user
  </select>
</mapper>