<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yan_wm.myalbum.service.provider.album.mapper.TbVipExtendMapper">
  <resultMap id="BaseResultMap" type="cn.yan_wm.myalbum.commons.domain.TbVip">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="lower_limit" jdbcType="INTEGER" property="lowerLimit" />
    <result column="upper_limit" jdbcType="INTEGER" property="upperLimit" />
  </resultMap>

  <select id="findByUserId" resultMap="BaseResultMap">
    SELECT tb_vip.* FROM tb_vip,tb_user_vip
    where
        tb_vip.id = tb_user_vip.role_id and
        tb_user_vip.user_id = #{userId}
  </select>
</mapper>