<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yan_wm.myalbum.service.provider.user.mapper.TbUserFanExtendMapper">
  <resultMap id="BaseResultMap" type="cn.yan_wm.myalbum.commons.domainExtend.user.UserFanExtend">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="fan_id" jdbcType="INTEGER" property="fanId" />
    <result column="fan_note" jdbcType="VARCHAR" property="fanNote" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <association property="fan" fetchType="eager" column="fan_id" select="cn.yan_wm.myalbum.service.provider.user.mapper.TbUserInfoExtendMapper.findById"/>
  </resultMap>

  <insert id="addFan">
    INSERT INTO tb_user_fan (user_id,fan_id)
    VALUE (#{userId},#{fanId})
  </insert>

  <delete id="deleteFan">
    DELETE FROM tb_user_fan
    WHERE
    user_id = #{userId} and
    fan_id = #{fanId}
  </delete>

  <update id="updateFanNote">
    UPDATE tb_user_fan
    SET fan_note = #{note}
    WHERE
    user_id = #{userId} and
    fan_id = #{fanId}
  </update>

  <select id="findFanByFanId" resultMap="BaseResultMap">
    SELECT * FROM tb_user_fan
    WHERE
    user_id = #{userId} and
    fan_id = #{fanId}
  </select>

  <select id="findAll" resultMap="BaseResultMap">
    SELECT distinct * FROM tb_user_fan
    WHERE
    user_id = #{userId}
  </select>
</mapper>