<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yan_wm.myalbum.commons.mapper.TbImageShowMapper">
  <resultMap id="BaseResultMap" type="cn.yan_wm.myalbum.commons.domain.TbImageShow">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="img_ids" jdbcType="VARCHAR" property="imgIds" />
    <result column="like_num" jdbcType="INTEGER" property="likeNum" />
    <result column="browse_num" jdbcType="INTEGER" property="browseNum" />
    <result column="visible_permission_id" jdbcType="INTEGER" property="visiblePermissionId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>