<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="/jquery.js"></script>
    <script src="/sockjs.js"></script>
    <script src="/stomp.js"></script>
</head>
<body>
<H1>${id}</H1>
<div id="msg"></div>

<script>

    var id = `${id}`;
    var sock = new SockJS("http://39.105.137.236:10030/socket");
    console.log(sock);
    var stompClient = Stomp.over(sock);
    // console.log(stompClient);
    stompClient.connect({},function (data) {
        // console.log(data);
        stompClient.subscribe("/cpu/"+id+"/sendCpuInfoByServer",function (response) {
            // console.log(response.body);
            $("#msg").append(response.body+"<br/>");
        })

    })
</script>
</body>
</html>










